@import 'normalize.css';

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: rgb(244, 247, 246);
  /* margin: 2rem; */
}

ul {
  /* border: 1px solid red; */
  margin-top: 0;
  padding: 0;
  list-style: none;
  background: white;
}

ul li {
  display: inline;

}

h1 {
  font-size: 1rem;
  font-weight: 400;
}

h1 strong {
  font-size: 1.5rem;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
} */
